<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
    </head>
    <body>
        <%- include('blockHeader.ejs') %>

        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo"><h2>Profile</h2></div>
                <div class="container">
                    <form class="form-box" action="/logOut" method="POST">
                        <button type="submit">로그아웃</button>
                    </form> 
                </div>
            </div>
        </div>

        <%- include('blockFooter.ejs') %>
    </body>
</html>