<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
    </head>
    <body>
        <%- include('blockHeader.ejs') %>


        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo"><h2>AI Class</h2></div>
                <div class="container">
                    <ul>
                        <a href="aiCreater"><li class="choseOnes">
                            <div class="contentName"><strong>문제 생성하기</strong></div>
                            <div></div>
                        </li></a>
                    </ul>
                </div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>
    </body>
</html>