<div id="base-footer">
    <div class="logo">
        <a href='/'><h1>ALZ</h1><h2>ALZ</h2></a>
        <strong>쉽고 빠른 코딩 학습</strong>
    </div>
    <ul class="multi_personal_info">
        <script src="/javaScript/developer_info.js"></script>
    </ul>
</div>