<!DOCTYPE html>
<html>
    <head>
        <title>ALZalz | coming soon</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css"> 
    </head>
    <body>
        <%- include('blockHeader.ejs') %>


        <div id="base-main">
            <div class="side-bar">
            </div>
            <div class="main">
                <div class="jumbo"><h2>추후 서비스 예정</h2></div>
                <div class="container">추후 서비스 예정</div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>
    </body>
</html>