<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
        <link rel="stylesheet" href="/css/homePage.css">
    </head>
    <body>
        <%- include('blockHeader.ejs') %>

        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo">
                    <div class="l"><script src="/javaScript/homeTime.js"></script></div>
                    <div class="r">
                        <strong>혹시... 너 알고리즘 문제 풀 줄 알아?</strong>
                        <h2>알고리즘? 알지알지!</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="state">
                        <h2>lv. Nan</h2>
                        <p>흔적기관, 추후 수정 예정</p>
                    </div> 
                    <div class="notice">
                        <h2>공지</h2>
                        <p class="notice-set">
                            <% for(let i=0; ((i<noticeData.length) && (i<4)); i++) { %>
                                <p><strong><%= JSON.stringify(noticeData[i].title ) %></strong></p>
                                <p><%= JSON.stringify(noticeData[i].content ) %> </p>
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>
    </body>
</html>