<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
        <link rel="stylesheet" href="/css/homePage.css">
    </head>
    <body>
        <div id="base-header">
            <div class="logo">
                <h1><a href='/'>Class Code</a></h1>
                쉽고 빠른 코딩 학습
            </div>
            <div class="manu">
                <strong>
                    <ul>
                        <li><a href="/problem">문제</a></li>
                        <li><a href="/content">컨텐츠</a></li>
                        <li><a href="/ranking">랭킹</a></li>
                        <li><a href="/aiClass">AI 맞춤학습</a></li>
                    </ul>
                </strong>
                <div>
                    <a href="/account">My account</a>
                </div>
            </div>
        </div>


        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo">
                    <div class="l"><script src="/javaScript/homeTime.js"></script></div>
                    <div class="r">
                        <h2>온라인 코딩 튜터, Class Code</h2>
                        <strong>알고리즘 문제를 풀며 코딩을 쉽고 빠르게 배울 수 있는 곳입니다. </strong>
                    </div>
                </div>
                <div class="container">
                    <div class="state">
                        <h2>lv. Nan</h2>
                        <p>퀘스트</p>
                    </div>
                    <div class="notice">
                        <h2>공지</h2>
                        <p>Naaaaaan</p>
                    </div>
                </div>
            </div>
        </div>


        <div id="base-footer">
            <div>
                <h1>Class Code</h1>
                쉽고 빠른 코딩 학습
            </div>
            <ul class="multi_personal_info">
                <script src="/javaScript/developer_info.js"></script>
            </ul>
        </div>
    </body>
</html>