<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/baseCss.css">
    </head>
    <body>
        <%- include('blockHeader.ejs') %>


        <div id="base-main">
            <div class="side-bar">
                this is side bar
            </div>
            <div class="main">
                <div class="jumbo"><h2>랭킹</h2></div>
                <div class="container">
                    <ul class="peopleDatas">
                        <% for(let i=0; i<peoplesData.length; i++) { %>
                            <li>
                                <strong>
                                    <div class="name">
                                        <%= JSON.stringify(peoplesData[i].username) %> 
                                    </div>
                                    <div class="user_info">
                                        <%= JSON.stringify(peoplesData[i].cleareCount) %> 
                                    </div>
                                </strong>
                            </li>
                        <% } %>
                    </ul>
                    
                </div>
            </div>
        </div>


        <%- include('blockFooter.ejs') %>
    </body>
</html>