a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

#base-header {
    margin-top:1%;
    border-bottom: 1px rgb(128, 128, 128) solid;
    display: grid;
    grid-template-columns: 23fr 100fr;
    padding-bottom: 2%;
    margin-left: 20px;
    margin-right: 20px;
}

#base-header a{
    color: rgb(28, 28, 28);
    text-decoration-line: none;
}

#base-header .logo {
    margin: 5%;
    padding-left: 9%;
    align-items: center;
}

#base-header .logo a {
    display: flex;
}

#base-header .logo h1 {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 40px;
}

#base-header .logo h2 {
    padding-left: 2%;
    margin-bottom: 2%;
    font-size: 30px;
    color:darkred;
}

#base-header .logo strong {
    font-size: 20px;
}

#base-header .manu {
    display: flex;
    padding-top: 2.5%;
    padding-left: 2%;
    font-size:22px;
    justify-content: space-between;
}

#base-header ul {
    display: flex;
    padding: 0px;
    margin-top: 1.2%;
}

#base-header li {
    padding-right: 45px;
}

#base-header .manu li:hover a{
    color: #426eff;
    transition: 0.5s;
    list-style-type: disc;
}

#base-header .manu li:hover {
    color: #426eff;
    transition: 0.5s;
    list-style-type: disc;
}

#base-main {
    display: grid;
    grid-template-columns: 23fr 100fr;
}

#base-main .side-bar {
    border-right: 1px rgb(126, 126, 126) solid;
}

#base-main .main {
    margin: 0px;
}

#base-main .jumbo {
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
    background-color: rgb(132, 132, 132);
    color: aliceblue;
}

#base-main .container { 
    padding: 30px;  
}

#base-footer {
    background-color: rgb(226, 226, 226);
    padding-bottom: 30%;
    padding-top: 20px;
    display: flex;
    color: rgb(140, 140, 140);
}

#base-footer div { 
    margin-left: 40px;
}

#base-footer a{
    color: rgb(87, 87, 87);
    text-decoration-line: none;
}

#base-footer .logo {
    margin: 1%;
    align-items: center;
}

#base-footer .logo a {
    display: flex;
}

#base-footer .logo h1 {
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 40px;
}

#base-footer .logo h2 {
    padding-left: 2%;
    margin-bottom: 2%;
    font-size: 30px;
    color:rgb(110, 53, 53);
}

#base-footer .logo strong {
    font-size: 20px;
}

#base-footer .multi_personal_info {
    list-style: none;
    display: flex;
    margin-top: 20px;
    padding: 0px;
}