#base-main h2 {
    margin-top:2%;
    margin-bottom: 1%;
}

#base-main {
    font-size:  20px;
}

#base-main .r {
    text-align: right;
    color: aliceblue;
}

#base-main .l {
    text-align: left;
    color: aliceblue;
    padding-bottom: 4%;
}

#base-main .container {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#base-main .state {
    border: 1px solid rgb(162, 162, 162);
    border-radius: 15px;
    margin-right: 10%;
}

#base-main .notice {
    border: 1px solid rgb(162, 162, 162);
    border-radius: 15px;
    margin-right: 10%;
}

#base-main .state h2 {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 1px solid rgb(162, 162, 162);
}

#base-main .state p {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
}

#base-main .notice h2 {
    margin-top: 3%;
    margin-left: 6%;
    margin-right: 6%;
    border-bottom: 1px solid rgb(162, 162, 162);
}

#base-main .notice p {
    margin-top: 1%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 0%;
}