.contName {
    margin: 1%;
    padding: 1%;
    margin-right: 2%;
    border-right: 1px solid rgb(132, 132, 132);
}

.container li {
    display: grid;
    grid-template-columns: 2fr 7fr;
}

.container div { 
    padding-left: 30px;
}

.choseOne:hover {
    background-color: rgb(223, 247, 255);
    color: rgb(56, 81, 81);
    transition: 0.3s;
}

.choseTwo:hover {
    background-color: rgb(255, 205, 205);
    color: rgb(82, 62, 62);
    transition: 0.3s;
}

.choseThr:hover {
    background-color: rgb(223, 247, 255);
    color: rgb(56, 81, 81);
    transition: 0.3s;
}