#footer {
    display: flex;
    background-color: rgb(226, 226, 226);
    padding-top: 20px;
    padding-bottom: 30%;
    color:rgb(140, 140, 140);
}

#footer div {
    margin-left: 40px;
}

#footer h1 {
    margin-bottom: 5px;
}

#footer .multi_personal_info {
    list-style: none;
    display: flex;
    margin-top: 20px;
}