#main {
    display: grid;
    grid-template-columns: 2fr 7fr;
}

#main .side_bar {
    border-right: 1px rgb(126, 126, 126) solid;
}
#main .main {
    margin: 0px;
}

#main .jumbo {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 5%;
    background-color: rgb(132, 132, 132);
}